data/
*.DS_Store
*.pyc
*/.ipynb_checkpoints/
__pycache__/
fewshotbench_v2/__pycache__/
fewshotbench_v2/*/__pycache__/
fewshotbench_v2/*/*/__pycache__/
fewshotbench_v2/outputs/
fewshotbench_v2/checkpoints/
fewshotbench_v2/wandb/